
# Created by https://www.toptal.com/developers/gitignore/api/drupal8
# Edit at https://www.toptal.com/developers/gitignore?templates=drupal8

### Drupal8 ###
# gitignore template for Drupal 8 projects
#
# earlier versions of Drupal are tracked in `community/PHP/`

# Ignore configuration files that may contain sensitive information
/web/sites/*/*settings*.php
/sites/*/*services*.yml

# Ignore paths that may contain user-generated content
/web/sites/*/files
/web/sites/*/public
/web/sites/*/private
/web/sites/*/files-public
/sites/*/files-private

# Ignore paths that may contain temporary files
/web/sites/*/translations
/web/sites/*/tmp
/sites/*/cache

# Ignore testing related files
/web/sites/simpletest

# Ignore drupal core (if not versioning drupal sources)
/web/core
/vendor
/web/modules/README.txt
/web/profiles/README.txt
/web/themes/README.txt
/web/sites/README.txt
/web/sites/example.sites.php
/web/sites/example.settings.local.php
/web/sites/development.services.yml
/web/.csslintrc
/web/.editorconfig
/web/.eslintignore
/web/.eslintrc.json
/web/.gitattributes
/web/.ht.router.php
/web/.htaccess
/web/autoload.php/web
/web/example.gitignore
/web/index.php
/web/INSTALL.txt
/web/LICENSE.txt
/web/README.txt
/web/robots.txt
/web/update.php
/web/web.config

# End of https://www.toptal.com/developers/gitignore/api/drupal8
web/sites/default/settings.php
