
# Created by https://www.toptal.com/developers/gitignore/api/drupal8
# Edit at https://www.toptal.com/developers/gitignore?templates=drupal8

### Drupal8 ###
# gitignore template for Drupal 8 projects
#
# earlier versions of Drupal are tracked in `community/PHP/`

# Ignore configuration files that may contain sensitive information
/web/sites/*/*settings*.php
/sites/*/*services*.yml

# Ignore paths that may contain user-generated content
/web/sites/*/files
/web/sites/*/public
/web/sites/*/private
/web/sites/*/files-public
/sites/*/files-private

# Ignore paths that may contain temporary files
/web/sites/*/translations
/web/sites/*/tmp
/sites/*/cache


# End of https://www.toptal.com/developers/gitignore/api/drupal8
web/sites/default/settings.php
