@media(min-width: 780px){
  #jpreContent {
    display: none!important;
  }
}
@media(min-width: 780px){
  .js-preloader .body-page {
    opacity: 1!important;
  }
  .js-preloader.preloader-done .body-page {
    opacity: 1!important;
  }
  #jpreContent {
    display: block!important;
  }
  #jpreLoader {
    height: 4px;
    width: 100%;
    top: 0 !important;
  }
  #jpreOverlay { 
    background-color: transparent;
    height: auto !important;
    top: 0 !important;
    position: absolute !important;
  }
  #jpreSlide {
    text-align: center;
    top: 0!important;
  }
  #jpreSlide #jpreContent {
    display: block;
    position: relative;
    margin-bottom: 40px;
  }
  .js-preloader #jpreOverlay {
    background-color: none;
    height: 10px !important;
    position: fixed !important;
  }
  .js-preloader #jpreLoader {
    top: 0!important;
    height: 10px;
    margin-top: -5px;
    z-index: 9999999!important;
  }
  .js-preloader #jprePercentage {
    text-align: center;
    display: none!important;
  }
  #jpreBar {
    z-index: 2;
    background-color: $theme-color;
  }
  #jpreButton,
  #jprePercentage {
    display: none !important;
  }
  #jprePercentage {
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 30px;
  }
}

.preloader-wrapper {
  display: inline-block;
  position: relative;
  width: 60px;
  height: 60px; 
  text-align: center;
}

@-webkit-keyframes sonarEffect {
  0% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.5;
    box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px $theme-color, 0 0 0 10px rgba(255,255,255,0.5);
  }
  100% {
    box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px $theme-color, 0 0 0 10px rgba(255,255,255,0.5);
    -webkit-transform: scale(1.5);
    opacity: 0;
  }
}
@-moz-keyframes sonarEffect {
  0% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.5;
    box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px $theme-color, 0 0 0 10px rgba(255,255,255,0.5);
  }
  100% {
    box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px $theme-color, 0 0 0 10px rgba(255,255,255,0.5);
    -moz-transform: scale(1.5);
    opacity: 0;
  }
}
@keyframes sonarEffect {
  0% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.5;
    box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px $theme-color, 0 0 0 10px rgba(255,255,255,0.5);
  }
  100% {
    box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px $theme-color, 0 0 0 10px rgba(255,255,255,0.5);
    transform: scale(1.5);
    opacity: 0;
  }
}

@-webkit-keyframes h{0%{-webkit-transform:rotate(0deg) translate(-30px) rotate(0deg) scale(1);transform:rotate(0deg) translate(-30px) rotate(0deg) scale(1)}to{-webkit-transform:rotate(1turn) translate(-30px) rotate(-1turn) scale(1.3);transform:rotate(1turn) translate(-30px) rotate(-1turn) scale(1.3)}}
@-moz-keyframes h{0%{-webkit-transform:rotate(0deg) translate(-30px) rotate(0deg) scale(1);transform:rotate(0deg) translate(-30px) rotate(0deg) scale(1)}to{-webkit-transform:rotate(1turn) translate(-30px) rotate(-1turn) scale(1.3);transform:rotate(1turn) translate(-30px) rotate(-1turn) scale(1.3)}}
@keyframes h{0%{-webkit-transform:rotate(0deg) translate(-30px) rotate(0deg) scale(1);transform:rotate(0deg) translate(-30px) rotate(0deg) scale(1)}to{-webkit-transform:rotate(1turn) translate(-30px) rotate(-1turn) scale(1.3);transform:rotate(1turn) translate(-30px) rotate(-1turn) scale(1.3)}}


@-webkit-keyframes g{0%{-webkit-transform:translate(0);transform:translate(0)}50%{-webkit-transform:translate(15px,5px);transform:translate(15px,5px)}to{-webkit-transform:translate(0);transform:translate(0)}}
@-moz-keyframes g{0%{-webkit-transform:translate(0);transform:translate(0)}50%{-webkit-transform:translate(15px,5px);transform:translate(15px,5px)}to{-webkit-transform:translate(0);transform:translate(0)}}
@keyframes g{0%{-webkit-transform:translate(0);transform:translate(0)}50%{-webkit-transform:translate(15px,5px);transform:translate(15px,5px)}to{-webkit-transform:translate(0);transform:translate(0)}}

@-webkit-keyframes f{0%{-webkit-transform:translate(0);transform:translate(0)}50%{-webkit-transform:translate(-5px,-5px);transform:translate(-5px,-5px)}to{-webkit-transform:translate(0);transform:translate(0)}}
@-moz-keyframes f{0%{-webkit-transform:translate(0);transform:translate(0)}50%{-webkit-transform:translate(-5px,-5px);transform:translate(-5px,-5px)}to{-webkit-transform:translate(0);transform:translate(0)}}
@keyframes f{0%{-webkit-transform:translate(0);transform:translate(0)}50%{-webkit-transform:translate(-5px,-5px);transform:translate(-5px,-5px)}to{-webkit-transform:translate(0);transform:translate(0)}}

.notes__dot--float-horz, .notes__dot--float-vert, .notes__dot--rotate {
    position: absolute;
    border-radius: 50%;
    background: lighten($theme-color, 20%);
    @include opacity(0.2);
}

.notes__dot--float-vert {
    top: -15px;
    left: -5px;
    width: 20px;
    height: 20px;
    -webkit-animation-name: f;
    animation-name: f;
    -webkit-animation-duration: 4s;
    animation-duration: 4s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;

  }

  .notes__dot--float-horz {
    top: 30px;
    left: 30px;
    width: 10px;
    height: 10px;
    -webkit-animation-name: g;
    animation-name: g;
    -webkit-animation-duration: 6s;
    animation-duration: 6s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.notes__dot--rotate {
    position: absolute;
    z-index: 1;
    top: 15px;
    left: 15px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    -webkit-animation-name: h;
    animation-name: h;
    -webkit-animation-duration: 8s;
    animation-duration: 8s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}